.news {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .body {
        width: 100%;
        margin: 0 auto;
        .item {
            min-height: 110px;
            background-color: #fff;
            display: flex;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
            margin-bottom: 20px;
            .body__content {
                width: 100%;
                margin: 0 auto;
                padding: 20px;
                .content {
                    margin-bottom: 10px;
                    // display: flex;
                    // flex-direction: column;
                    .theme {
                        font-size: 16px;
                        color: #848484;
                        margin-bottom: 10px;
                       
                    }
                    .text {
                        font-size: 18px;
                        color: #000000;
                        word-wrap: break-word;
                        margin-bottom: 10px;
                    }
                    .data {
                        display: inline-block;
                        font-size: 16px;
                        color: #848484;
                        margin-right: 30px;
                    }
                    .btn-comment {
                        background: none;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                        img {
                            margin-left: 5px;
                        }
                    }
                    .btn-public {
                        background: none;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                    }
                }
                .footer {
                    display: flex;
                    justify-content: space-between;
                    .author {
                        font-weight: bold;
                    }
                    .show-more {
                        background: none;
                        transition: height 0.5s ease 0.5s;
                    }
                }
                .comment {
                    font-size: 15px;
                    color: #000000;
                }
                .response {
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    textarea {
                        background: #f0f0f0;
                        border: 1px solid rgba(0, 0, 0, 0.35);
                        font-size: 14px;
                        padding: 5px 10px;
                        width: 85%;
                        height: 35px;
                        resize: none;
                    }
                    button {
                        background: #f0f0f0;
                        border: 1px solid rgba(0, 0, 0, 0.35);
                        height: 35px;
                        border-radius: 5px;
                        width: 100px;
                    }
                }
            }
        }
        //! Comment
        .comment_item {
            border-top: 1px solid rgb(190, 190, 190);
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            .comment__body {
                display: flex;
                .comment__author {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 10%;
                    p {
                        margin-top: 10px;
                        font-weight: bold;
                        font-size: 8px;
                        color: #848484;
                    }
                    .comment__photo {
                        background: #eaeaea;
                        border: 1px solid rgba(0, 0, 0, 0.17);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        img {
                            width: 20px;
                        }
                    }
                }
                .comment__content {
                    width: 90%;
                    .comment__text {
                        width: 89%;
                        font-size: 12px;
                        color: #000000;
                        word-wrap: break-word;
                        margin-bottom: 10px;
                    }
                    .comment__data {
                        display: inline-block;
                        font-size: 10px;
                        color: #848484;
                        button {
                            margin-left: 15px;
                            font-weight: bold;
                            font-size: 12px;
                            background: none;
                        }
                    }
                }
            }
            &:last-child {
                border-bottom: 1px solid rgb(190, 190, 190);
            }
        }
    }

    .btn-add-post {
        margin: 32px 0 20px 0;
        width: 299px;
        height: 50px;
        background: #d6d6d6;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 0 0px rgba(0, 0, 0, 0.45);
        border-radius: 20px;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #686767;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            color: #000;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            transform: translateY(4px);
            background: #76cdee;
            box-shadow: 0 0 0 1px rgba(122, 122, 122, 0.5);
        }
    }
}
