.item {
    margin: 0 auto;
    min-height: 110px;
    background-color: #fff;
    display: flex;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    .body__content {
        width: 100%;
        margin: 0 auto;
        .content {
            form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
            }
            padding: 20px;
            .theme {
                width: 90%;
                color: #848484;
                margin-bottom: 10px;
                input {
                    font-size: 16px;
                    padding: 3px 10px;
                    width: 92%;
                    margin-left: 10px;
                    background: #f0f0f0;
                    border: 1px solid rgba(0, 0, 0, 0.35);
                }
            }
            .text {
                width: 100%;
                color: #000000;
                word-wrap: break-word;
                margin-bottom: 10px;
                textarea {
                    background: #f0f0f0;
                    border: 1px solid rgba(0, 0, 0, 0.35);
                    font-size: 18px;
                    padding: 5px 10px;
                    width: 100%;
                    height: 60px;
                    resize: none;
                }
            }
            .btn-public {
                background: none;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                justify-self: start;
            }
        }
        .comment {
            font-size: 15px;
            color: #000000;
        }
    }
}
