.item {
    background-color: #fff;
    display: flex;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    .content {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .theme {
            flex: 0 0 83%;
            color: #848484;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            input {
                font-size: 16px;
                padding: 3px 10px;
                width: 80%;
                margin-left: 10px;
                background: #f0f0f0;
                border: 1px solid rgba(0, 0, 0, 0.35);
            }
        }
        .btn {
            color: #000;
            font-weight: bold;
        }
    }
}
