.item {
    background-color: #fff;
    display: flex;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    .author {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 17%;
        border-right: 1px solid rgb(158, 158, 158);
        height: unset;
        background: #d5d5d5;
        p {
            margin-top: 10px;
            font-weight: bold;
            font-size: 15px;
            color: #848484;
        }
        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #f7f7f7;
        }
    }
    .content {
        width: 83%;
        padding: 20px;
        // display: flex;
        // flex-direction: column;
        .theme {
            color: #848484;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            input {
                font-size: 16px;
                padding: 3px 10px;
                width: 80%;
                margin-left: 10px;
                border: 1px solid #000;
            }
        }
        .data {
            display: inline-block;
            font-size: 16px;
            color: #848484;
            margin-bottom: 10px;
            margin-right: 30px;
        }
        .option {
            background: none;
            padding: 8px;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px rgb(121, 111, 111);
            i {
                margin-right: 10px;
            }
        }
    }
}
