body {
    // font-family: "Quicksand", sans-serif;

    // font-family: 'Manrope', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    background: rgba(83, 83, 83, 0.1);
    // filter: blur(3px);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}
